body {
    background: url(./images/sound-of-silence.JPG) no-repeat center center fixed;
    padding: 10px;
}
.header {
    position: absolute;
    width: 100%;
    border: 2px solid black;
    text-align: center;
    background-color: darkseagreen;
}
h1:first-letter{
    text-transform: uppercase;
}
h1 {
    color: #424242;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    letter-spacing: 0.3em;
    text-align: center;
    margin: 10px auto;
    padding: 1px;
    text-transform: lowercase;
    line-height: 145%;
    font-size: 55px;
    font-variant: small-caps;
}
.trails-contain  {
    position: absolute;
    margin-top: 200px;
}
.trails-contain div {
    padding: 5px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: darkseagreen;
    text-align: center;
    border: 1px solid black;
}
h2 {
    color: #424242;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    letter-spacing: 0.1em;
    text-align: center;
    margin: 10px auto;
    padding: 1px;
    text-transform: lowercase;
    line-height: 145%;
    font-size: 20px;
    font-variant: small-caps;
}


