
.app-bar {
    border: 1px solid black;
    background-color: rgb(25, 96, 25);
 }
.app-bar-title {
    color: #424242;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    letter-spacing: 0.3em;
    text-align: center;
    margin: 10px auto;
    padding: 1px;
    text-transform: lowercase;
    font-size: 55px;
    font-variant: small-caps;
}
.app-bar-title:first-letter {
    text-transform: uppercase;
}
/*.navigation-bar {*/
    /*color: #424242;*/
    /*font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;*/
    /*letter-spacing: 0.3em;*/
    /*text-align: center;*/
    /*margin: 10px auto;*/
    /*padding: 1px;*/
    /*text-transform: lowercase;*/
    /*line-height: 145%;*/
    /*font-size: 55px;*/
    /*font-variant: small-caps;*/
/*}*/